server {
    listen 80;
    server_name _;

    return 301 https://{{ server_name }};
}

server {
    listen 443 ssl;
    ssl_certificate {{ document_root }}/sertificates/{{ server_name }}.pem;
    ssl_certificate_key {{ document_root }}/sertificates/{{ server_name }}.key;

    root {{ document_root }};
    index index.html index.htm;

    server_name {{ server_name }};

    location = /status {
            access_log off;
            default_type text/plain;
            add_header Content-Type text/plain;
            return 200 "alive";
    }
    
    location / {
        gzip off;
    }
}